body  {
    min-height:100%;
    background-image: url("/static/stylesheets/background.jpeg"), linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3));
    background-blend-mode: overlay;
    background-size:cover
 }

 .welcome {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 3rem;
    color: aliceblue;
 }

 .center {
    height: 60vh;
     display: flex;
     justify-content: center;
     align-items: center
 }

 .fallcolors{
    font-size: 1rem;
    color:white;

 }

 .form-style{
   font-size: 30;
   color: white;
 }

 .button-style{
   font-size: 20;
 }
.text-box-style{
  height: 35px;
  width: 200px;
  padding-top: 10px;
}
 button1{

    height:10px;
    width:10px;
 }
